name: Build Windows EXE

on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Compile Java
        run: |
          cd src
          javac app/Main.java

      - name: Create JAR
        run:
          |
          jar -cfe Vouli-Game.jar app.Main -C src . -C resources .

      - name: Create EXE with jpackage
        run: |
          mkdir dist
          move Vouli-Game.jar dist/
          jpackage --input dist --name Vouli-Game --main-jar Vouli-Game.jar --main-class app.Main --type exe --dest output --win-menu --win-shortcut --icon resources/res/app_icon.ico

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: GameEXE
          path: output/*.exe
